		</div><!-- /.container -->
		<footer class="footer">
			<div class="container">
				<p class="text-muted">&copy; YelpCamp SA 2020 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">Add New Campground</a></p>
			</div>
		</footer>
		<!-- jQuery CDN -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<!-- Custom JS for search feature -->
		<script src="/scripts/search.js" async defer></script>
		<!-- Bootstrap JS CDN -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script>
	</body>
</html>
