<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>YelpCamp SA</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body id="bootstrap-overrides">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">YelpCamp SA</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="nav navbar-nav">
						<li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds">Home</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<% if (!currentUser) { %>
							<li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Log In</a></li>
							<li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
						<% } else { %>
							<li class="dropdown">
								<a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Notifications <span class="badge"><% if (notifications.length > 10) { %>10+<% } else { %><%= notifications.length %><% } %></span></a>
								<ul class="dropdown-menu">
									<% if (notifications.length === 0) { %>
										<li>
											<a class="disabled" href="#">No notifications</a>
										</li>
									<% } else { %>
										<% for (var i = 0; i < (notifications.length > 10 ? 10 : notifications.length); i++) { %>
											<li>
												<a href="/notifications/<%= notifications[i]._id %>">
													<%= notifications[i].username %> added a new campground
												</a>
											</li>
										<% } %>
									<% } %>
								</ul>
							</li>
							<li><a class="disabled" href="#">Signed in as <%= currentUser.username %></a></li>
							<li><a href="/logout">Log Out</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<% if (error && error.length > 0) { %>
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>
			<% } %>

			<% if (success && success.length > 0) { %>
				<div class="alert alert-success" role="alert">
					<%= success %>
				</div>
			<% } %>
		</div>

		<div class="container">
