<%- include("./partials/header") %>

<div class="row">
	<h1 class="text-center">Forgot Your Password?</h1>
	<div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 content">
		<form action="/forgot" method="POST">
			<div class="form-group">
				<label for="email">Email address</label>
				<input class="form-control" type="email" name="email" id="email" placeholder="Your email address" autofocus required>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
			</div>
		</form>
		<a href="/login">Go back</a>
	</div>
</div>

<%- include("./partials/footer") %>
