<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>YelpCamp SA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous" async></script>
	</head>
  <body>
    <div id="landing-header">
 			<h1>Welcome to YelpCamp SA!</h1>
			<a class="btn btn-lg btn-default" href="/campgrounds" role="button">Get Started</a>
    </div>
  	<ul class="slideshow">
    	<li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  	</ul>
  </body>
</html>
