<%- include("./partials/header") %>

<div class="row">
	<h1 class="text-center">Log In</h1>
	<div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 content">
		<form action="/login" method="POST">
			<div class="form-group">
				<label for="username">Username</label>
				<input class="form-control" type="text" name="username" id="username" placeholder="Your username" autofocus required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input class="form-control" type="password" name="password" id="password" placeholder="Your password" autocomplete="off" required>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
			</div>
		</form>
		<a class="pull-right" href="/forgot">Forgot your password?</a>
		<a href="/campgrounds">Go back</a>
	</div>
</div>

<%- include("./partials/footer") %>
