<%- include("./partials/header") %>

<div class="row">
	<h1 class="text-center">Sign Up</h1>
	<div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 content">
		<form action="/register" method="POST">
			<div class="form-group">
				<label for="username">Username</label>
				<input class="form-control" type="text" name="username" id="username" placeholder="New username" autofocus required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input class="form-control" type="password" name="password" id="password" placeholder="New password" autocomplete="off" required>
			</div>
			<div class="form-group">
				<label for="confirm">Confirm password</label>
				<input class="form-control" type="password" name="confirm" id="confirm" placeholder="Confirm new password" autocomplete="off" required>
			</div>
			<div class="form-group">
				<label for="first-name">First name</label>
				<input class="form-control" type="text" name="firstName" id="first-name" placeholder="Your first name" required>
			</div>
			<div class="form-group">
				<label for="last-name">Last name</label>
				<input class="form-control" type="text" name="lastName" id="last-name" placeholder="Your last name" required>
			</div>
			<div class="form-group">
				<label for="email">Email address</label>
				<input class="form-control" type="email" name="email" id="email" placeholder="Your email address" required>
			</div>
			<div class="form-group">
				<label for="admin-code">Admin code (leave empty if not an admin)</label>
				<input class="form-control" type="text" name="adminCode" id="admin-code" placeholder="Admin code">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
			</div>
		</form>
		<a href="/campgrounds">Go back</a>
	</div>
</div>

<%- include("./partials/footer") %>
