<%- include("./partials/header") %>

<div class="row">
	<h1 class="text-center">Reset Password</h1>
	<div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 content">
		<form action="/reset/<%= token %>" method="POST">
			<div class="form-group">
				<label for="password">New password</label>
				<input class="form-control" type="password" name="password" id="password" placeholder="New password" autocomplete="off" autofocus required>
			</div>
			<div class="form-group">
				<label for="confirm">Confirm password</label>
				<input class="form-control" type="password" name="confirm" id="confirm" placeholder="Confirm new password" autocomplete="off" required>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
			</div>
		</form>
	</div>
</div>

<%- include("./partials/footer") %>
