<%- include("../partials/header") %>

<div class="row">
	<h1 class="text-center">Edit <%= campground.name %></h1>
	<div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 content">
		<form action="/campgrounds/<%= campground.slug %>?_method=PUT" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="name">Name</label>
				<input class="form-control" type="text" name="campground[name]" id="name" placeholder="Campground name" value="<%= campground.name %>" autofocus required>
			</div>
			<div class="form-group">
				<label for="price">Price per night (R)</label>
				<input class="form-control" type="number" name="campground[price]" id="price" placeholder="Amount (R)" value="<%= campground.price %>" min="0.00" step="0.01" required>
			</div>
			<div class="form-group">
				<label for="image">Image</label>
				<input type="file" name="image" id="image" accept="image/*">
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<textarea class="form-control" name="campground[description]" id="description" placeholder="Campground description" rows="5" cols="70" required><%= campground.description %></textarea>
			</div>
			<div class="form-group">
				<label for="location">Location</label>
				<input class="form-control" type="text" name="location" id="location" placeholder="Campground location" value="<%= campground.location %>" required>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
			</div>
		</form>
		<a href="/campgrounds/<%= campground.slug %>">Go back</a>
	</div>
</div>

<%- include("../partials/footer") %>
