<%- include("../partials/header") %>

<header class="jumbotron">
	<div class="container">
		<h1><span class="glyphicon glyphicon-tent" aria-hidden="true"></span> Welcome To YelpCamp SA!</h1>
		<p>View our hand-picked campgrounds from all over South Africa</p>
		<p>
			<a class="btn btn-lg btn-primary" href="/campgrounds/new" role="button">Add New Campground</a>
		</p>
		<p>
			<form class="form-inline" id="campground-search" action="/campgrounds" method="GET">
				<div class="form-group">
					<input class="form-control" type="text" name="search" placeholder="Campground search..." autofocus<% if (campgrounds.length === 0) { %> disabled<% } %>>
				</div>
			</form>
		</p>
	</div>
</header>

<div class="row text-center flex-wrap" id="campground-grid">
	<% if (campgrounds.length === 0) { %>
		<div class="col-xs-12">
			<h2><em class="grey">No campgrounds yet</em></h2>
		</div>
	<% } else { %>
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= campground.image %>" alt="Campground image">
					<div class="caption">
						<h4 class="min-height"><%= campground.name %></h4>
						<% if (campground.rating === 0) { %>
							<em class="grey">No reviews yet</em>
						<% } else { %>
							<span class="fas fa-star orange" aria-hidden="true"></span>
							<span class="fas fa-star<% if (campground.rating >= 1.5) { %> orange<% } %>" aria-hidden="true"></span>
							<span class="fas fa-star<% if (campground.rating >= 2.5) { %> orange<% } %>" aria-hidden="true"></span>
							<span class="fas fa-star<% if (campground.rating >= 3.5) { %> orange<% } %>" aria-hidden="true"></span>
							<span class="fas fa-star<% if (campground.rating >= 4.5) { %> orange<% } %>" aria-hidden="true"></span>
							<% var starOrStars = campground.rating.toFixed(0) === "1" ? "star" : "stars"; %>
							<span class="sr-only">Rating: <%= campground.rating.toFixed(0) %> <%= starOrStars %> out of 5 stars</span>
						<% } %>
						<div>
							<span class="sr-only">Total likes:</span>
							<span class="badge label-primary"><i class="fas fa-thumbs-up" aria-hidden="true"></i> <%= campground.likes.length %></span>
						</div>
					</div>
					<p>
						<a class="btn btn-primary" href="/campgrounds/<%= campground.slug %>" role="button">More Info</a>
					</p>
				</div>
			</div>
		<% }); %>
	<% } %>
</div>

<div class="row text-center" id="campground-pagination">
	<% if (pages && pages > 0 && campgrounds.length > 0) { %>
		<ul class="pagination pagination-sm">
			<% if (current === 1) { %>
				<li class="disabled"><a>First</a></li>
			<% } else { %>
				<li><a href="/campgrounds">First</a></li>
			<% } %>

			<% if (current === 1) { %>
				<li class="disabled"><a>«</a></li>
			<% } else { %>
				<li><a href="/campgrounds?page=<%= current - 1 %>">«</a></li>
			<% } %>

			<% var i = current > 2 ? current - 1 : 1; %>
			<% if (i !== 1) { %>
				<li class="disabled"><a>...</a></li>
			<% } %>
			<% for (; i <= current + 1 && i <= pages; i++) { %>
				<% if (i === current) { %>
					<li class="active"><a><%= i %></a></li>
				<% } else { %>
					<li><a href="/campgrounds?page=<%= i %>"><%= i %></a></li>
				<% } %>
				<% if (i === current + 1 && i < pages) { %>
					<li class="disabled"><a>...</a></li>
				<% } %>
			<% } %>

			<% if (current === pages) { %>
				<li class="disabled"><a>»</a></li>
			<% } else { %>
				<li><a href="/campgrounds?page=<%= current + 1 %>">»</a></li>
			<% } %>

			<% if (current === pages) { %>
				<li class="disabled"><a>Last</a></li>
			<% } else { %>
				<li><a href="/campgrounds?page=<%= pages %>">Last</a></li>
			<% } %>
		</ul>
	<% } %>
</div>

<%- include("../partials/footer") %>
