<!-- Campground likes modal -->
<div class="modal fade" id="campground-likes" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Campground Likes: <%= campground.likes.length %></h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Liked by:</th>
						</tr>
					</thead>
					<tbody>
						<% campground.likes.forEach(function(like) { %>
							<tr>
								<td><span class="badge"><i class="fas fa-user" aria-hidden="true"></i></span> <%= like.username %></td>
							</tr>
						<% }); %>
						<% if (campground.likes.length === 0) { %>
							<tr>
								<td class="text-center"><em class="grey">No likes yet</em></td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
