<%- include("../partials/header") %>

<div class="row">
	<div class="col-lg-3 col-md-4 col-sm-5">
		<div id="map"></div>
	</div>
	<div class="col-lg-9 col-md-8 col-sm-7">
		<div class="thumbnail">
			<img class="img-responsive" src="<%= campground.image %>" alt="Campground image">
			<div class="caption-full">
				<h4 class="pull-right">R<%= campground.price %>/night</h4>
				<h4><%= campground.name %></h4>
				<button class="btn btn-xs btn-primary pull-right padding-left-right" type="button" data-toggle="modal" data-target="#campground-likes">
					<span>Total Likes: <i class="fas fa-thumbs-up" aria-hidden="true"></i> <%= campground.likes.length %></span>
				</button>
				<div class="padding-bottom">
					<form action="/campgrounds/<%= campground.slug %>/like" method="POST">
						<div class="btn-group">
							<% if (currentUser && campground.likes.some(function(like){
								return like.equals(currentUser._id);
							})) { %>
								<button class="btn btn-xs btn-primary" type="submit">
									<i class="fas fa-thumbs-up" aria-hidden="true"></i> Liked (<%= campground.likes.length %>)
								</button>
							<% } else { %>
								<button class="btn btn-xs btn-secondary" type="submit">
									<i class="fas fa-thumbs-up" aria-hidden="true"></i> Like (<%= campground.likes.length %>)
								</button>
							<% } %>
							<button class="btn btn-xs btn-default auto-margin-left" type="button" data-toggle="modal" data-target="#campground-likes">More Info</button>
						</div>
					</form>
				</div>
				<p><%= campground.description %></p>
				<form action="/campgrounds/<%= campground.slug %>/users/<%= user._id %>/follow" method="POST">
					<% if (currentUser && user.followers.some(function(follower){
						return follower.equals(currentUser._id);
					})) { %>
						<button class="btn btn-xs btn-primary pull-right" type="submit">
							<i class="fas fa-bell" aria-hidden="true"></i> Followed <%= user.username %>
						</button>
					<% } else { %>
						<button class="btn btn-xs btn-secondary pull-right" type="submit">
							<i class="fas fa-bell" aria-hidden="true"></i> Follow <%= user.username %>
						</button>
					<% } %>
				</form>
				<p>
					<em>Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
				</p>
				<% if (currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
					<div class="pull-right">
						<a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground.slug %>/edit" role="button">Edit</a>
						<form class="delete-form" action="/campgrounds/<%= campground.slug %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger" type="submit">Delete</button>
						</form>
					</div>
				<% } %>
				<a class="btn btn-default" href="/campgrounds" role="button"><i class="fas fa-arrow-left" aria-hidden="true"></i> Go Back</a>
			</div>
		</div>

		<!-- Review section -->
		<div class="thumbnail">
			<div class="caption-full">
				<% if (campground.rating === 0) { %>
					<h5 class="text-center">
						<em class="grey">No reviews yet</em>
					</h5>
				<% } else { %>
					<p>
						<span class="fas fa-star orange" aria-hidden="true"></span>
						<span class="fas fa-star<% if (campground.rating >= 1.5) { %> orange<% } %>" aria-hidden="true"></span>
						<span class="fas fa-star<% if (campground.rating >= 2.5) { %> orange<% } %>" aria-hidden="true"></span>
						<span class="fas fa-star<% if (campground.rating >= 3.5) { %> orange<% } %>" aria-hidden="true"></span>
						<span class="fas fa-star<% if (campground.rating >= 4.5) { %> orange<% } %>" aria-hidden="true"></span>
						<% var starOrStars = campground.rating.toFixed(0) === "1" ? "star" : "stars"; %>
						<span class="sr-only">Rating: <%= campground.rating.toFixed(0) %> <%= starOrStars %> out of 5 stars</span>
						<em>(total reviews: <%= campground.reviews.length %>)</em>
					</p>
					<p>
						Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
					</p>
					<p><h4>Latest reviews for this campground:</h4></p>
					<hr class="zero-margin-top">

					<% campground.reviews.slice(0, 5).forEach(function(review){ %>
						<div class="row">
							<div class="col-lg-2 col-md-3 col-sm-4">
								<%- '<span class="fas fa-star orange" aria-hidden="true"></span>'.repeat(review.rating) %><%- '<span class="fas fa-star" aria-hidden="true"></span>'.repeat(5 - review.rating) %>
								<% var starOrStars = review.rating === 1 ? "star" : "stars"; %>
								<span class="sr-only">Rating: <%= review.rating %> <%= starOrStars %> out of 5 stars</span>
								<div class="word-wrap">Review by: <strong><%= review.author.username %></strong></div>
								<span><em><%= moment(review.updatedAt).fromNow() %></em></span>
							</div>
							<div class="col-lg-10 col-md-9 col-sm-8">
								<p class="text-align-word-wrap">
									<%= review.text %>
								</p>
								<% if (currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
									<div class="pull-right">
										<a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground.slug %>/reviews/<%= review._id %>/edit" role="button">Edit</a>
										<form class="delete-form" action="/campgrounds/<%= campground.slug %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
											<button class="btn btn-xs btn-danger" type="submit">Delete</button>
										</form>
									</div>
								<% } %>
							</div>
						</div>
						<hr>
					<% }); %>
					<h4><a href="/campgrounds/<%= campground.slug %>/reviews"><i class="fas fa-search" aria-hidden="true"></i> See all reviews</a></h4>
				<% } %>
				<a class="btn btn-primary<% if (currentUser && campground.reviews.some(function(review){return review.author.id.equals(currentUser._id);})) { %> disabled<% } %>" href="/campgrounds/<%= campground.slug %>/reviews/new" role="button">
					Write A New Review
				</a>
			</div>
		</div>

		<!-- Comment section -->
		<div class="well padding">
			<!-- Set up the add new comment button that is used for collapsing the add comment form -->
			<a class="btn btn-sm btn-success pull-right" href="#collapse-comment" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-comment" role="button">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Comment
			</a>
			<!-- Title -->
			<h4><strong>Comments <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></strong></h4>
			<!-- Start of collapsible add comment form -->
			<div class="collapse" id="collapse-comment">
				<div class="well add-comment">
					<% if (currentUser) { %>
						<!-- If the user is logged in, display the comment form -->
						<h4>Write your comment <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
						<form id="add-comment-form" action="/campgrounds/<%= campground.slug %>/comments" method="POST">
							<div class="form-group">
								<input class="form-control" type="text" value="<%= currentUser.username %>" disabled>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70" required></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-sm btn-success" type="submit">Comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
							</div>
						</form>
					<% } else { %>
						<!-- If the user is not logged in, redirect to the login page -->
						<h5>You need to log in before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
					<% } %>
				</div>
			</div>
			<!-- End of collapsible add comment form -->
			<hr>
			<!-- Check if there are comments. If there are none, display "No comments yet" -->
			<% if (campground.comments.length === 0) { %>
				<h5 class="text-center">
					<em class="grey">No comments yet</em>
				</h5>
			<% } %>
			<!-- Display comments by looping through them -->
			<% campground.comments.forEach(function(comment) { %>
				<div class="row">
					<div class="col-xs-12">
						<!-- Display when the comment was created -->
						<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
						<strong>
							<% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
								<!-- If the current user owns the comment or is an admin, change the colour of the user icon -->
								<span class="glyphicon glyphicon-user orange" aria-hidden="true"></span>
							<% } else { %>
								<!-- Else just display it black -->
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							<% } %>
							<!-- Display the author username -->
							<%= comment.author.username %>
						</strong>
						<!-- Display the comment -->
						<p class="text-align-word-wrap"><%= comment.text %></p>
						<!-- If the current user owns the comment or is an admin, display the edit and delete buttons -->
						<% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
							<div class="pull-right">
								<!-- Edit button used for collapsing the edit comment form -->
								<a class="btn btn-xs btn-warning" href="#collapse-edit-<%= comment._id %>" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-edit-<%= comment._id %>" role="button">
									Edit
								</a>
								<!-- Delete comment button -->
								<form class="delete-form" action="/campgrounds/<%= campground.slug %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
									<button class="btn btn-xs btn-danger" type="submit">Delete</button>
								</form>
							</div>
							<!-- Edit comment form -->
							<div class="collapse" id="collapse-edit-<%= comment._id %>">
								<div class="well edit-comment">
									<h4>Edit your comment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
									<form id="edit-comment-form-<%= comment._id %>" action="/campgrounds/<%= campground.slug %>/comments/<%= comment._id %>?_method=PUT" method="POST">
										<div class="form-group">
											<input class="form-control" type="text" value="<%= comment.author.username %>" disabled>
										</div>
										<div class="form-group">
											<textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="edit-comment-form-<%= comment._id %>" rows="5" cols="70" required><%= comment.text %></textarea>
										</div>
										<div class="form-group">
											<button class="btn btn-sm btn-warning" type="submit">Edit Comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
										</div>
									</form>
								</div>
							</div>
						<% } %>
					</div>
				</div>
				<hr>
			<% }); %>
		</div>
	</div>
</div>

<%- include("likes-modal") %>

<script>var campground = <%- JSON.stringify(campground) %>;</script>
<script src="/scripts/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs81-qEs4creMxdG6WIeqce4U22En1E14&callback=initMap" async defer></script>

<%- include("../partials/footer") %>
