/* Background colour for all elements inside the body element */
body {
	background-color: #000;
}

/* Heading text */
h1 {
	font-size: 4em;
	text-shadow: 2px 2px 10px #000;
}

#landing-header {
	z-index: 1;
	position: relative;
	text-align: center;
	padding-top: 35vh;
}

#landing-header h1 {
	color: #fff;
}

/* Image slideshow animations */
.slideshow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slideshow li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
	background-image: url(https://res.cloudinary.com/yelpcampsa/image/upload/v1585743750/bfx1gi4zwzgxu7o309xv.jpg);
}

.slideshow li:nth-child(2) {
	background-image: url(https://res.cloudinary.com/yelpcampsa/image/upload/v1585743905/usgevirdeedilljkvrm8.jpg);
	animation-delay: 10s;
}

.slideshow li:nth-child(3) {
	background-image: url(https://res.cloudinary.com/yelpcampsa/image/upload/v1585743985/eoqoeevo27q1gi2e14iz.jpg);
	animation-delay: 20s;
}

.slideshow li:nth-child(4) {
	background-image: url(https://res.cloudinary.com/yelpcampsa/image/upload/v1585744041/tbcbsfocvgtlqgld8kda.jpg);
	animation-delay: 30s;
}

.slideshow li:nth-child(5) {
	background-image: url(https://res.cloudinary.com/yelpcampsa/image/upload/v1585744118/ptgwchfptmbunsvp0sjc.jpg);
	animation-delay: 40s;
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	10% {
		opacity: 1;
		animation-timing-function: ease-out;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
