/* Sticky footer */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.container .text-muted {
	margin: 20px 0;
}

/* Thumbnail */
.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

/* Google Maps */
#map {
	height: 400px;
	width: 100%;
}

/* Delete button */
.delete-form {
	display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.flex-wrap:before, .flex-wrap:after {
	content: normal;
}

/* Colour */
.orange {
	color: #ffa500;
}

.grey {
	color: #808080;
}

/* Add comment form */
.add-comment {
	border-left: 5px solid #00c851;
	margin-top: 25px;
}

/* Edit comment form */
.edit-comment {
	border-left: 5px solid #ffbb33;
	margin-top: 50px;
}

/* Text contained in paragraph tags for reviews and comments */
.text-align-word-wrap {
	text-align: justify;
	word-wrap: break-word;
}

/* Review author text on the review index page and campground show page */
.word-wrap {
	word-wrap: break-word;
}

/* Layout for register, login, forgot password, reset password,
   new campground, edit campground, new review and edit review form content
*/
.content {
	float: none;
	margin: 25px auto;
}

/* Remove top margin for a <hr> element used on the review index page and campground show page */
.zero-margin-top {
	margin-top: 0;
}

/* Modal with scrollable body */
.modal-body {
	max-height: 55vh;
	overflow-y: auto;
}

/* Disable certain anchor tags */
a.disabled {
	cursor: default;
	pointer-events: none;
}

/* Bottom padding for 'like' button and 'more info' button on campground show page */
.padding-bottom {
	padding-bottom: 10px;
}

/* Make left margin auto for 'more info' button on campground show page */
#bootstrap-overrides .auto-margin-left {
	margin-left: auto;
}

/* Padding for 'div' element containing the comment section on campground show page */
.padding {
	padding: 9px;
}

/* Left and right padding for 'total likes' button on campground show page */
.padding-left-right {
	padding-left: 3px;
	padding-right: 3px;
}

/* Set the minimum height for the campground name text contained in the 'caption' div element
   This applies to each campground shown on the campgrounds index page
   A media query is used to ensure this only applies when the screen has a minimum width of 992px
   This is the same width as the breakpoint used by Bootstrap for 'col-md'
*/
@media (min-width: 992px) {
	.min-height {
		min-height: 38px;
	}
}
