<%- include("../partials/header") %>

<div class="row">
	<div class="col-xs-12">
		<h1 class="text-center">Review Page: <%= campground.name %></h1>
		<div class="thumbnail">
			<div class="caption-full">
				<% if (campground.rating === 0) { %>
					<h5 class="text-center">
						<em class="grey">No reviews yet</em>
					</h5>
				<% } else { %>
					<p>
						<span class="fas fa-star orange" aria-hidden="true"></span>
						<span class="fas fa-star<% if (campground.rating >= 1.5) { %> orange<% } %>" aria-hidden="true"></span>
						<span class="fas fa-star<% if (campground.rating >= 2.5) { %> orange<% } %>" aria-hidden="true"></span>
						<span class="fas fa-star<% if (campground.rating >= 3.5) { %> orange<% } %>" aria-hidden="true"></span>
						<span class="fas fa-star<% if (campground.rating >= 4.5) { %> orange<% } %>" aria-hidden="true"></span>
						<% var starOrStars = campground.rating.toFixed(0) === "1" ? "star" : "stars"; %>
						<span class="sr-only">Rating: <%= campground.rating.toFixed(0) %> <%= starOrStars %> out of 5 stars</span>
						<em>(total reviews: <%= campground.reviews.length %>)</em>
					</p>
					<p>
						Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
					</p>
					<p><h4>All reviews for this campground:</h4></p>
					<hr class="zero-margin-top">

					<% campground.reviews.forEach(function(review){ %>
						<div class="row">
							<div class="col-sm-2">
								<%- '<span class="fas fa-star orange" aria-hidden="true"></span>'.repeat(review.rating) %><%- '<span class="fas fa-star" aria-hidden="true"></span>'.repeat(5 - review.rating) %>
								<% var starOrStars = review.rating === 1 ? "star" : "stars"; %>
								<span class="sr-only">Rating: <%= review.rating %> <%= starOrStars %> out of 5 stars</span>
								<div class="word-wrap">Review by: <strong><%= review.author.username %></strong></div>
								<span><em><%= moment(review.updatedAt).fromNow() %></em></span>
							</div>
							<div class="col-sm-10">
								<p class="text-align-word-wrap">
									<%= review.text %>
								</p>
								<% if (currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
									<div class="pull-right">
										<a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground.slug %>/reviews/<%= review._id %>/edit" role="button">Edit</a>
										<form class="delete-form" action="/campgrounds/<%= campground.slug %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
											<button class="btn btn-xs btn-danger" type="submit">Delete</button>
										</form>
									</div>
								<% } %>
							</div>
						</div>
						<hr>
					<% }); %>
				<% } %>

				<a class="btn btn-primary pull-right<% if (currentUser && campground.reviews.some(function(review){return review.author.id.equals(currentUser._id);})) { %> disabled<% } %>" href="/campgrounds/<%= campground.slug %>/reviews/new" role="button">
					Write A New Review
				</a>
				<a class="btn btn-default" href="/campgrounds/<%= campground.slug %>" role="button"><i class="fas fa-arrow-left" aria-hidden="true"></i> Go Back</a>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>
