<%- include("../partials/header") %>

<div class="row">
	<h1 class="text-center">Add New Review: <%= campground.name %></h1>
	<div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 content">
		<form action="/campgrounds/<%= campground.slug %>/reviews" method="POST">
			<div class="form-group">
				<label for="rating">Rating</label>
				<fieldset id="rating">
					<div>
						<input type="radio" name="review[rating]" id="rating-5" value="5" checked>
						<label for="rating-5" title="5 stars - Amazing">
							<%- '<span class="fas fa-star orange" aria-hidden="true"></span>'.repeat(5) %>
							<span class="sr-only">Rating: 5 stars out of 5 stars</span>
						</label>
					</div>
					<div>
						<input type="radio" name="review[rating]" id="rating-4" value="4">
						<label for="rating-4" title="4 stars - Very good">
							<%- '<span class="fas fa-star orange" aria-hidden="true"></span>'.repeat(4) %>
							<span class="sr-only">Rating: 4 stars out of 5 stars</span>
						</label>
					</div>
					<div>
						<input type="radio" name="review[rating]" id="rating-3" value="3">
						<label for="rating-3" title="3 stars - Average">
							<%- '<span class="fas fa-star orange" aria-hidden="true"></span>'.repeat(3) %>
							<span class="sr-only">Rating: 3 stars out of 5 stars</span>
						</label>
					</div>
					<div>
						<input type="radio" name="review[rating]" id="rating-2" value="2">
						<label for="rating-2" title="2 stars - Not good">
							<%- '<span class="fas fa-star orange" aria-hidden="true"></span>'.repeat(2) %>
							<span class="sr-only">Rating: 2 stars out of 5 stars</span>
						</label>
					</div>
					<div>
						<input type="radio" name="review[rating]" id="rating-1" value="1">
						<label for="rating-1" title="1 star - Terrible">
							<%- '<span class="fas fa-star orange" aria-hidden="true"></span>'.repeat(1) %>
							<span class="sr-only">Rating: 1 star out of 5 stars</span>
						</label>
					</div>
				</fieldset>
			</div>
			<div class="form-group">
				<label for="text">Review</label>
				<textarea class="form-control" name="review[text]" id="text" placeholder="Campground review" rows="5" cols="70" autofocus required></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Add New Review</button>
			</div>
		</form>
		<a href="/campgrounds/<%= campground.slug %>">Go back</a>
	</div>
</div>

<%- include("../partials/footer") %>
